<div class="feature col" id="<%= dom_id employee %>">
	<h3 class="fs-2 text-body-emphasis"><%= employee.full_name %></h3>
	<p>
		Email: <%= employee.email %>
		<br/>
		Phone number: <%= employee.phone_number %>
	</p>
	<div class="mt-2">
		<%= link_to "Edit", edit_employee_path(employee), class: "icon-link" %>
		<%= link_to "Back to employees", employees_path, class: "icon-link" %>
	</div>
</div>
