<div class="feature col" id="<%= dom_id employee %>">
	<div>
		<%= image_tag employee.avatar_as_thumbnail(250, 250) if employee.avatar.attached? %>
	</div>
	<h3 class="fs-2 text-body-emphasis"><%= employee.full_name %></h3>
	<p>
		Email: <%= employee.email %>
		<br/>
		Phone number: <%= employee.phone_number %>
	</p>
	<%= link_to "View", employee, class: "icon-link" %>
	<%= link_to "Edit", edit_employee_path(employee), class: "icon-link" %>
</div>
